/* raleway font */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* inter font */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* body */
body {
  text-align: center;
  border: 2px solid;
}

/* shared style */
.color-primary {
  color: #4e47ff;
}
.dark2 {
  color: rgba(37, 36, 50, 0.5);
}
.dark1 {
  color: #252432;
}

.btn-primary {
  background-color: #4e47ff;
  color: white;
  border-radius: 10px;
  padding: 12px 36px;
  font-weight: bold;
  border: none;
}

header {
  background-image: url(../Assets/Hero-bg.png);
  margin-top: 0px;
  padding-top: 0px;
  background-position: 100%;
  height: 698px;
  margin-bottom: 116px;
}
.header-section {
  max-width: 1140px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 158px;
}

.banner-title {
  font-size: 65px;
  font-weight: bold;
  padding-left: 117px;
  width: 905px;
  margin-bottom: 37px;
  height: 152px;
}

/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}

.webflow-2022{
   display: flex;
   justify-content: space-between; 
   margin-bottom: 116px;
   text-align: left;
}

.action{
    width: 517px;
    height: 203px;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-top: 62px;
    margin-bottom: 23px;
}

.action-description {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
}

.web-image img{
    border-radius: 48px;
}
