/* raleway font */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* inter font */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* body */
body {
  text-align: center;
}

/* shared style */
.color-primary {
  color: #4e47ff;
}
.dark2 {
  color: rgba(37, 36, 50, 0.5);
}
.dark1 {
  color: #252432;
}

.btn-primary {
  background-color: #4e47ff;
  color: white;
  border-radius: 10px;
  padding: 12px 36px;
  font-weight: bold;
  border: none;
}

header {
  background-image: url(../Assets/Hero-bg.png);
  margin-top: 0px;
  padding-top: 0px;
  background-position: 100%;
  height: 698px;
  margin-bottom: 116px;
}
.header-section {
  max-width: 1140px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 158px;
}

.banner-title {
  font-size: 65px;
  font-weight: bold;
  padding-left: 117px;
  width: 905px;
  margin-bottom: 37px;
  height: 152px;
}

/* main */
main {
  max-width: 1140px;
  margin: 0 auto;
}

.webflow-2022 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 116px;
  text-align: left;
}

.action {
  width: 517px;
  height: 203px;
}

.action-title {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-top: 62px;
  margin-bottom: 23px;
}

.action-description {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}

.web-image img {
  border-radius: 48px;
}

/* user section  */

.user-section {
  height: 306px;
  background-color: rgba(78, 71, 255, 0.1);
  margin-bottom: 137px;
  padding: 50px 142px;
  border-radius: 24px;
}

.user-title {
  color: #252432;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 42px;
}

.user-container {
  display: flex;
  justify-content: space-around;
}

.user-count-tittle{
  font-size: 80px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.user-sub-tittle{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0px;
}

/* user-review */

.user-review-section{
  height: 342px;
  margin-bottom: 128px;
}
.user-review-heading{
  font-weight: bold;
  font-size: 42px;
  color: #252432;
  margin-bottom: 50px;
}
.user-review-container{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  
}

.user-review{
  border-radius: 14px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  text-align: left;
  padding: 24px;
}

.star-container{
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
}
.review-tittle{
  font-family: Ag;
  margin-bottom: 8px;
}

.reviewer-info{
  display: flex;
  gap: 12px;
  margin-top: 24px;
}
.reviewer-info img{
  border-radius: 50%;
}